<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        max-width: 400px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Completed Tasks</h1>
    {%for completed_task in completed %} {{completed_task.id}}.
    {{completed_task}}
    <a href="/delete-task/{{completed_task.id}}">delete</a> <br />
    {%endfor%}

    <br />
    <a href="/tasks">Back</a>
  </body>
</html>
